﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="Form_1115.aspx.cs" Inherits="AMED.Form_1115" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <title>รง.ผสต.15 - กรมการแพทย์ทหารบก</title>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" runat="server">
    <div class="container-fluid" id="content">
		<div id="left">
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span><p class="icon-building"></p> หน่วยสายแพทย์</span></a>
				</div>
				<ul class="subnav-menu">
					<li>
						<a href="Default.aspx">สรุปภาพรวม</a>
					</li>
					<li class="active">
							<a href="Hotpital.aspx">การบันทึกข้อมูล</a>
							
						</li>
					<li>
						<a href="Report.aspx">สรุปรายงาน</a>
					</li>
				</ul>
			</div>
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span><p class="icon-building"></p>  ส่วนกลาง</span></a>
				</div>
				<ul class="subnav-menu">
					<li>
						<a href="Default.aspx">สรุปภาพรวม</a>
					</li>
					<li>
							<a href="Department.aspx">การตรวจสอบการบันทึกข้อมูล</a>
							
					</li>
					<li>
						<a href="Report.aspx">สรุปรายงาน</a>
					</li>
				</ul>
			</div>
            <div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span><p class="icon-cog"></p> ข้อมูลพื้นฐาน</span></a>
				</div>
				<ul class="subnav-menu">
					<li class='dropdown'>
						<a href="#" data-toggle="dropdown"> ข้อมุลทั่วไป</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MT_Region.aspx"> กองทัพภาค</a>
							</li>
							<li>
								<a href="MT_Hospital.aspx"> หน่วยสายแพทย์</a>
							</li>
							<li>
								<a href="MT_Department.aspx"> หน่วยงาน (ส่วนกลาง)</a>
							</li>
							<li>
								<a href="MT_AddOrganization.aspx"> สังกัด</a>
							</li>
							<li>
								<a href="MT_Province.aspx"> จังหวัด</a>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a href="#" data-toggle="dropdown">กองวิทยาการ</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MTS_ICD10.aspx"> รหัสโรค (ICD10)</a>
							</li>
							<li>
								<a href="MTS_GroupRule.aspx"> กลุ่มโรคที่ขัดต่อกฎกระทรวง</a>
							</li>
							<li>
								<a href="MTS_Rule.aspx"> โรคที่ขัดต่อกฎกระทรวง</a>
							</li>
							<li>
								<a href="MTS_Sizebed.aspx"> ขนาดเตียง</a>
							</li>
							<li>
								<a href="MTS_ProHotpital.aspx"> ตำแหน่งในโรงพยาบาล</a>
							</li>
							<li>
								<a href="MTS_Wards.aspx"> หอผู้ป่วย</a>
							</li>
						</ul>
					</li>
                    <li class='dropdown'>
						<a href="#" data-toggle="dropdown">กองงบประมาณการเงิน</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MTF_Assets.aspx">สินทรัพย์และหนี้สิน</a>
							</li>
							<li>
								<a href="MTF_Progress.aspx">ผลการดำเนินงาน</a>
							</li>
							<li>
								<a href="MTF_Reception.aspx">การรับ-การจ่าย</a>
							</li>
							<li>
								<a href="MTF_Deposit.aspx">เงินฝาก</a>
							</li>
						</ul>
					</li>
                    <li class='dropdown'>
						<a href="#" data-toggle="dropdown">กองส่งกำลังบำรุง</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MTT_TypeDrug.aspx"> ประเภทยา</a>
							</li>
							<li>
								<a href="MTT_Drug.aspx"> ยา</a>
							</li>
							<li>
								<a href="MTT_DrugNature.aspx">ลักษณะยา</a>
							</li>
							<li>
								<a href="MTT_MedicalSupplies.aspx">เวชภัณฑ์</a>
							</li>
						</ul>
					</li>
                    <li class='dropdown'>
						<a href="#" data-toggle="dropdown">ผู้ใช้งาน (User)</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MT_PersonType.aspx"> ประเภทบุคคล</a>
							</li>
							<li>
								<a href="MT_Person.aspx">บุคคลย่อย</a>
							</li>
							<li>
								<a href="#">กำหนดสิทธิ์</a>
							</li>
							<li>
								<a href="MT_User.aspx">ผู้ใช้งานในระบบ</a>
							</li>
						</ul>
					</li>
                     <li class='dropdown'>
						<a href="#" data-toggle="dropdown">การส่งรายงาน</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MTR_DeadlineReports.aspx"> กำหนดส่งรายงาน</a>
							</li>
							<li>
								<a href="MTR_EditReport.aspx"> แก้ไขข้อมูลรายงาน</a>
							</li>
							<li>
								<a href="MTR_NameReport.aspx"> ชื่อแบบฟอร์มรายงาน</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div id="main">
			<div class="container-fluid">
				<div class="page-header">
					<div class="pull-left">
						<h4>รายงานสรุปพฤติกรรมการดำเนินชีวิตของกำลังพลกองทัพบกที่ผลต่อความเสี่ยงเป็นโรค ( รง.ผสต.15 )</h4>
					</div>
					
				</div>
				<div class="breadcrumbs">
					<ul>
						<li>
							<a href="Default.aspx">Dashborad</a>
							<i class="icon-angle-right"></i>
						</li>
						<li>
							<a href="forms-basic.html">กองวิทยาการ</a>
							<i class="icon-angle-right"></i>
						</li>
						<li>
							<a href="MT_User.aspx">รง.ผสต.15</a>
						</li>
					</ul>
					<div class="close-bread">
						<a href="#"><i class="icon-remove"></i></a>
					</div>
				</div>
				

				<div class="row-fluid">

						<div class="span12">
						  <div class="box">
							<div class="box-title">
                                <div class='basic-margin'>
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<div class="input-append">
										<div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="aaaa" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
								    	</div>
								   <div class="btn-group span2 pull-right">
                                  <%-- <button class="btn btn-info" rel="tooltip" title="edit"><i class="icon-edit"></i> แก้ไขเอกสาร</button>--%>
												<a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle" rel="tooltip" title="print"><i class="icon-print"></i> พิมพ์รายงาน <span class="caret"></span></a>
												<ul class="dropdown-menu dropdown-warning">
													<li>
														<a href="#"><i class="icon-file"></i> Excel</a>
													</li>
													<li>
														<a href="#"><i class="icon-file"></i> PDF</a>
													</li>
												</ul>
											</div></div>
                                </div>
							</div>
                            <br />

                           <div style="overflow-x:auto;" class="box-content nopadding">
                              
                               <form action="#" method="get" class='form-vertical'>
                                    <div class="span1">
											<div class="control-group">
												<label for="textfield" class="control-label">กองทัพ</label>
                                                <asp:DropDownList ID="DropDownList1" runat="server" Width="90px">
                                                <asp:ListItem Text=" ส่วนกลาง" Value="0"></asp:ListItem>
                                                <asp:ListItem Text="ภาคที่ 2" Value="1"></asp:ListItem>
                                                <asp:ListItem Text="ภาคที่ 3" Value="2"></asp:ListItem>
                                                <asp:ListItem Text="ภาคที่ 4" Value="3"></asp:ListItem>
                                            </asp:DropDownList>
											</div>
                                            
										</div>
										<div class="span3">
                                            <div class="control-group">
												<label for="textfield" class="control-label">หน่วยสายแพทย์</label>
                                                <asp:DropDownList ID="DropDownList3" runat="server" Width="200px">
                                                <asp:ListItem Text="ทั้งหมด" Value="0"></asp:ListItem>
                                                <asp:ListItem Text="รพ.พระมงกุฎเกล้า" Value="1"></asp:ListItem>
                                                <asp:ListItem Text="รพ.อานันทมหิดล" Value="2"></asp:ListItem>
                                                <asp:ListItem Text="รพ.ค่ายสุรนารี" Value="3"></asp:ListItem>
                                            </asp:DropDownList>
											</div>
										</div>
									 <div class="span1">
										    <div class="control-group">
												    <label for="textfield" class="control-label">ปีงบประมาณ</label>
                                                    <asp:DropDownList ID="DropDownList6" runat="server" Width="90px">
                                                    <asp:ListItem Text="ทั้งหมด" Value="0"></asp:ListItem>
                                                    <asp:ListItem Text="2560" Value="1"></asp:ListItem>
                                                    <asp:ListItem Text="2559" Value="2"></asp:ListItem>
                                                    <asp:ListItem Text="2558" Value="3"></asp:ListItem>
                                                    <asp:ListItem Text="2557" Value="4"></asp:ListItem>
                                                </asp:DropDownList>
											    </div>
                                              </div>
										<div class="span4">
                                            <div class="control-group">
												<label for="textfield" class="control-label">ประจำเดือน</label>
                                                <asp:DropDownList ID="DropDownList7" runat="server" Width="200">
                                                <asp:ListItem Text="ทั้งหมด" Value="0"></asp:ListItem>
                                                <asp:ListItem Text="มกราคม" Value="1"></asp:ListItem>
                                                <asp:ListItem Text="กุมภาพันธ์" Value="2"></asp:ListItem>
                                                <asp:ListItem Text="มีนาคม" Value="3"></asp:ListItem>
                                                <asp:ListItem Text="เมษายน" Value="4"></asp:ListItem>
                                                <asp:ListItem Text="พฤษภาคม" Value="5"></asp:ListItem>
                                                <asp:ListItem Text="กรกฎาคม" Value="6"></asp:ListItem>
                                                <asp:ListItem Text="สิงหาคม" Value="7"></asp:ListItem>
                                                <asp:ListItem Text="กันยายน" Value="8"></asp:ListItem>
                                                <asp:ListItem Text="ตุลาคม" Value="9"></asp:ListItem>
                                                <asp:ListItem Text="พฤศจิกายน" Value="10"></asp:ListItem>
                                                <asp:ListItem Text="ธันวาคม" Value="11"></asp:ListItem>
                                            </asp:DropDownList>
											</div>
										</div>
								</form><br />

								
                           <div style="overflow-x:auto;" class="box-content nopadding">
                               <form action="#" method="get" class='form-vertical'>
                                    <div class="span2">
											<div class="control-group">
												<label for="textfield" class="control-label">กองทัพ</label>
                                                <asp:DropDownList ID="ddlทั้งหมด" runat="server" Width="150px">
                                                <asp:ListItem Text="หน่วยงาน (ส่วนกลาง)" Value="0"></asp:ListItem>
                                                <asp:ListItem Text="กองทัพภาคที่ 2" Value="1"></asp:ListItem>
                                                <asp:ListItem Text="กองทัพภาคที่ 3" Value="2"></asp:ListItem>
                                                <asp:ListItem Text="กองทัพภาคที่ 4" Value="3"></asp:ListItem>
                                            </asp:DropDownList>
											</div>
                                            
										</div>
										<div class="span3">
                                            <div class="control-group">
												<label for="textfield" class="control-label">หน่วยสายแพทย์</label>
                                                <asp:DropDownList ID="DropDownList2" runat="server" Width="230px">
                                                <asp:ListItem Text="ทั้งหมด" Value="0"></asp:ListItem>
                                                <asp:ListItem Text="รพ.พระมงกุฎเกล้า" Value="1"></asp:ListItem>
                                                <asp:ListItem Text="รพ.อานันทมหิดล" Value="2"></asp:ListItem>
                                                <asp:ListItem Text="รพ.ค่ายสุรนารี" Value="3"></asp:ListItem>
                                            </asp:DropDownList>
											</div>
										
										</div>
                                          <div class="span2">
										    <div class="control-group">
												    <label for="textfield" class="control-label">ปีงบประมาณ</label>
                                                    <asp:DropDownList ID="DropDownList4" runat="server" Width="150px">
                                                    <asp:ListItem Text="ทั้งหมด" Value="0"></asp:ListItem>
                                                    <asp:ListItem Text="2560" Value="1"></asp:ListItem>
                                                    <asp:ListItem Text="2559" Value="2"></asp:ListItem>
                                                    <asp:ListItem Text="2558" Value="3"></asp:ListItem>
                                                    <asp:ListItem Text="2557" Value="4"></asp:ListItem>
                                                </asp:DropDownList>
											    </div>
                                              </div>
										<div class="span3">
                                            <div class="control-group">
												<label for="textfield" class="control-label">ประจำเดือน</label>
                                                <asp:DropDownList ID="DropDownList5" runat="server" Width="230px">
                                                <asp:ListItem Text="ทั้งหมด" Value="0"></asp:ListItem>
                                                <asp:ListItem Text="มกราคม" Value="1"></asp:ListItem>
                                                <asp:ListItem Text="กุมภาพันธ์" Value="2"></asp:ListItem>
                                                <asp:ListItem Text="มีนาคม" Value="3"></asp:ListItem>
                                                <asp:ListItem Text="เมษายน" Value="4"></asp:ListItem>
                                                <asp:ListItem Text="พฤษภาคม" Value="5"></asp:ListItem>
                                                <asp:ListItem Text="กรกฎาคม" Value="6"></asp:ListItem>
                                                <asp:ListItem Text="สิงหาคม" Value="7"></asp:ListItem>
                                                <asp:ListItem Text="กันยายน" Value="8"></asp:ListItem>
                                                <asp:ListItem Text="ตุลาคม" Value="9"></asp:ListItem>
                                                <asp:ListItem Text="พฤศจิกายน" Value="10"></asp:ListItem>
                                                <asp:ListItem Text="ธันวาคม" Value="11"></asp:ListItem>
                                            </asp:DropDownList>
											</div>
										</div>
									
								</form><br />
								<table class="table table-hover table-nomargin table-condensed table-bordered" style="overflow-x:auto;">
									<thead>
										<tr>
											<th rowspan="4" style="width: 20px"><p class="text-center">ลำดับ</p></th>
											<th rowspan="4" style="width: 250px"><p class="text-center">รายการ</p></th>
											<th colspan="14" style="width: 200px"><p class="text-center">จำนวนกำลังพลกองทัพบก (ราย)</p></th>
										</tr>
										<tr>
											<th colspan="6" style="width: 100px"><p class="text-center">อายุไม่เกิน 35 ปีบริบูรณ์</p></th>
											<th colspan="6" style="width: 100px"><p class="text-center">อายุเกินเกิน 35 ปีบริบูรณ์</p></th>
											<th colspan="2" style="width: 50px"><p class="text-center">รวม (ราย)</p></th>
										</tr>
										<tr>
											<th colspan="2" style="width: 50px"><p class="text-center">ชั้นสัญญาบัตร</p></th>
											<th colspan="2" style="width: 50px"><p class="text-center">ชั้นประทวน</p></th>
											<th colspan="2" style="width: 50px"><p class="text-center">ลูกจ้างประจำ</p></th>
											<th colspan="2" style="width: 50px"><p class="text-center">ชั้นสัญญาบัตร</p></th>
											<th colspan="2" style="width: 50px"><p class="text-center">ชั้นประทวน</p></th>
											<th colspan="2" style="width: 50px"><p class="text-center">ลูกจ้างประจำ</p></th>
											<th rowspan="2" style="width: 50px"><p class="text-center">ชาย</p></th>
											<th rowspan="2" style="width: 50px"><p class="text-center">หญิง</p></th>
										</tr>
										<tr>
											<th style="width: 50px"><p class="text-center">ชาย</p></th>
											<th style="width: 50px"><p class="text-center">หญิง</p></th>
											<th style="width: 50px"><p class="text-center">ชาย</p></th>
											<th style="width: 50px"><p class="text-center">หญิง</p></th>
											<th style="width: 50px"><p class="text-center">ชาย</p></th>
											<th style="width: 50px"><p class="text-center">หญิง</p></th>
											<th style="width: 50px"><p class="text-center">ชาย</p></th>
											<th style="width: 50px"><p class="text-center">หญิง</p></th>
											<th style="width: 50px"><p class="text-center">ชาย</p></th>
											<th style="width: 50px"><p class="text-center">หญิง</p></th>
											<th style="width: 50px"><p class="text-center">ชาย</p></th>
											<th style="width: 50px"><p class="text-center">หญิง</p></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><p class="text-center">1</p></td>
											<td>จำนวนกำลังพลทั้งหมดที่มารับการตรวจ</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>
										
										<tr>
											<td><p class="text-center">2</p></td>
											<td>การสูบบุหรี่</td>
											
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
										</tr>
										
										<tr>
											<td><p class="text-center"></p></td>
											<td>2.1 ไม่เคยสูบบุหรี่</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>
										
										<tr>
											<td><p class="text-center"></p></td>
											<td>2.2 เคยสูบบุหรี่ แต่เลิกสูบแล้ว</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>
										
										<tr>
											<td><p class="text-center"></p></td>
											<td>2.3 สูบบุหรี่เป็นครั้งคราว</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>
										
										<tr>
											<td><p class="text-center"></p></td>
											<td>2.4 สูบบุหรี่เป็นประจำ</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>
										
										<tr>
											<td><p class="text-center">3</p></td>
											<td>การดื่มเครื่องดื่มแอลกอฮอล์</td>
											
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
										</tr>
										
										<tr>
											<td><p class="text-center"></p></td>
											<td> 3.1 ไม่เคยดื่ม</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>
										
										<tr>
											<td><p class="text-center"></p></td>
											<td> 3.2 เคยดื่ม แต่เลิกดื่มแล้ว</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>
										
										<tr>
											<td><p class="text-center"></p></td>
											<td> 3.3 ดื่มเป็นครั้งคราว (ดื่มเฉพาะงานเลี้ยงหรือไม่เกิน1แก้ว)</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>

										<tr>
											<td><p class="text-center"></p></td>
											<td> 3.4 ดื่มเป็นประจำ</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>

										<tr>
											<td><p class="text-center">4</p></td>
											<td>การออกกำลังกาย (เกณฑ์ออกกำลังกาย 3 ครั้งต่อ 1 สัปดาห์)</td>
											
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
											<th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
                                            <th>&nbsp; &nbsp;</th>
										</tr>
                                        
										<tr>
											<td><p class="text-center"></p></td>
											<td> 4.1 ไม่ออกกำลังกาย</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>

										<tr>
											<td><p class="text-center"></p></td>
											<td>4.2 ออกกำลังกายต่ำกว่าเกณฑ์</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>

										<tr>
											<td><p class="text-center"></p></td>
											<td>4.3 ออกกำลังกายตามเกณฑ์</td>
											
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
											<td><input type="text" name="textfield" id="num11" placeholder="0" class="input-block-level text-right"></td>
										</tr>
                                        <tr>
                                            <td colspan="16">
									        <div class="form-actions pull-right">
										        <button type="submit" class="btn btn-green"><i class="icon-ok"></i> บันทึกข้อมูล</button>
										        <button type="submit" class="btn btn-green"><i class="icon-ok"></i> ยืนยันและส่งข้อมูล</button>
										        <button type="button" class="btn btn-lightred"><i class="icon-remove"></i> ยกเลิก</button>
									        </div>
                                            </td>
                                        </tr>

									</tbody>
								</table>
							</div>
						</div>
				   	</div>

				</div>
			  </div>	
			</div>
		</div></div>
</asp:Content>











