﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="MT_AddUser.aspx.cs" Inherits="AMED.MT_AddUser" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <title>ผู้ใช้งาน - กรมการแพทย์ทหารบก</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <div class="container-fluid">
        <img src="assets/img/header/logo.png">

        <div class="user">
            <ul class='main-nav'>
                
                <li class="highli">
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                        <span><i class="icon-user"></i>Atiwat</span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="more-userprofile.html">Edit profile</a>
                        </li>
                        <li>
                            <a href="#">Account settings</a>
                        </li>
                        <li>
                            <a href="more-login.html">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" runat="server">
    <div class="container-fluid" id="content">
        <div id="left">
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span><p class="icon-building"></p> หน่วยสายแพทย์</span></a>
				</div>
				<ul class="subnav-menu">
					<li>
						<a href="Default.aspx">สรุปภาพรวม</a>
					</li>
					<li>
							<a href="Hotpital.aspx">การบันทึกข้อมูล</a>
							
						</li>
					<li>
						<a href="Report.aspx">สรุปรายงาน</a>
					</li>
				</ul>
			</div>
			<div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span><p class="icon-building"></p>  ส่วนกลาง</span></a>
				</div>
				<ul class="subnav-menu">
					<li>
						<a href="Default.aspx">สรุปภาพรวม</a>
					</li>
					<li>
							<a href="Department.aspx">การตรวจสอบการบันทึกข้อมูล</a>
							
					</li>
					<li>
						<a href="Report.aspx">สรุปรายงาน</a>
					</li>
				</ul>
			</div>
            <div class="subnav">
				<div class="subnav-title">
					<a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span><p class="icon-cog"></p> ข้อมูลพื้นฐาน</span></a>
				</div>
				<ul class="subnav-menu">
					<li class='dropdown'>
						<a href="#" data-toggle="dropdown"> ข้อมุลทั่วไป</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MT_Region.aspx"> กองทัพภาค</a>
							</li>
							<li>
								<a href="MT_Hospital.aspx"> หน่วยสายแพทย์</a>
							</li>
							<li>
								<a href="MT_Department.aspx"> หน่วยงาน (ส่วนกลาง)</a>
							</li>
							<li>
								<a href="MT_AddOrganization.aspx"> สังกัด</a>
							</li>
							<li>
								<a href="MT_Province.aspx"> จังหวัด</a>
							</li>
						</ul>
					</li>
					<li class='dropdown'>
						<a href="#" data-toggle="dropdown">กองวิทยาการ</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MTS_ICD10.aspx"> รหัสโรค (ICD10)</a>
							</li>
							<li>
								<a href="MTS_GroupRule.aspx"> กลุ่มโรคที่ขัดต่อกฎกระทรวง</a>
							</li>
							<li>
								<a href="MTS_Rule.aspx"> โรคที่ขัดต่อกฎกระทรวง</a>
							</li>
							<li>
								<a href="MTS_Sizebed.aspx"> ขนาดเตียง</a>
							</li>
							<li>
								<a href="MTS_ProHotpital.aspx"> ตำแหน่งในโรงพยาบาล</a>
							</li>
							<li>
								<a href="MTS_Wards.aspx"> หอผู้ป่วย</a>
							</li>
						</ul>
					</li>
                    <li class='dropdown'>
						<a href="#" data-toggle="dropdown">กองงบประมาณการเงิน</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MTF_Assets.aspx">สินทรัพย์และหนี้สิน</a>
							</li>
							<li>
								<a href="MTF_Progress.aspx">ผลการดำเนินงาน</a>
							</li>
							<li>
								<a href="MTF_Reception.aspx">การรับ-การจ่าย</a>
							</li>
							<li>
								<a href="MTF_Deposit.aspx">เงินฝาก</a>
							</li>
						</ul>
					</li>
                    <li class='dropdown'>
						<a href="#" data-toggle="dropdown">กองส่งกำลังบำรุง</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MTT_TypeDrug.aspx"> ประเภทยา</a>
							</li>
							<li>
								<a href="MTT_Drug.aspx"> ยา</a>
							</li>
							<li>
								<a href="MTT_DrugNature.aspx">ลักษณะยา</a>
							</li>
							<li>
								<a href="MTT_MedicalSupplies.aspx">เวชภัณฑ์</a>
							</li>
						</ul>
					</li>
                    <li class='dropdown active'>
						<a href="#" data-toggle="dropdown">ผู้ใช้งาน (User)</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MT_PersonType.aspx"> ประเภทบุคคล</a>
							</li>
							<li>
								<a href="MT_Person.aspx">บุคคลย่อย</a>
							</li>
							<li>
								<a href="#">กำหนดสิทธิ์</a>
							</li>
							<li class="active">
								<a href="MT_User.aspx">ผู้ใช้งานในระบบ</a>
							</li>
						</ul>
					</li>
                     <li class='dropdown'>
						<a href="#" data-toggle="dropdown">การส่งรายงาน</a>
						<ul class="dropdown-menu">
							<li>
								<a href="MTR_DeadlineReports.aspx"> กำหนดส่งรายงาน</a>
							</li>
							<li>
								<a href="MTR_EditReport.aspx"> แก้ไขข้อมูลรายงาน</a>
							</li>
							<li>
								<a href="MTR_NameReport.aspx"> ชื่อแบบฟอร์มรายงาน</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
        
        <div id="main">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="pull-left">
                        <h4>ผู้ใช้งานในระบบ</h4>
                    </div>
                   
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li>
                            <a href="Default.aspx">Dashborad</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li>
                            <a href="forms-basic.html">ตั้งค่า</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li>
                            <a href="MT_User.aspx">ผู้ใช้งานในระบบ</a>
                        </li>
                    </ul>
                    <div class="close-bread">
                        <a href="#"><i class="icon-remove"></i></a>
                    </div>
                </div>


                <div class="row-fluid">

                    <div class="span12">
                        <div class="box">
                            <div class="box-title">
                                <div class='basic-margin'>
								<div class="fileupload fileupload-new" data-provides="fileupload">
								   <div class="btn-group span2 pull-right">
												<a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle"><i class="icon-print"></i> พิมพ์รายงาน <span class="caret"></span></a>
												<ul class="dropdown-menu dropdown-warning">
													<li>
														<a href="#"><i class="icon-file"></i> Excel</a>
													</li>
													<li>
														<a href="#"><i class="icon-file"></i> PDF</a>
													</li>
												</ul>
											</div></div>
                                </div>
							</div>
                            <style type="text/css">
                                .table-hover th {
                                    width: 180px;
                                    /*background:t*/
                                }
                            </style>
                            <div class="box box-color box-small box-bordered">
                                <div class="box-title">
                                  <h5 style="color:white;">
									<i class="icon-file"></i>
									รายละเอียด
								  </h5>
                                </div>
                                <div style="overflow-x: auto;" class="box-content nopadding">
                                    <table class="table table-hover table-nomargin">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <p class="text-right">ชื่อ-นามสกุล :</p>
                                                </th>
                                                <td>
                                                    <asp:TextBox ID="txtName" runat="server" CssClass="input-block-level" Width="300"></asp:TextBox></td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <p class="text-right">ที่อยู่ :</p>
                                                </th>
                                                <td>
                                                    <asp:TextBox ID="txtAddress" runat="server" CssClass="input-block-level" TextMode="MultiLine" Rows="3" Width="500"></asp:TextBox></td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <p class="text-right">เบอร์โทรศัพท์ :</p>
                                                </th>
                                                <td>
                                                    <asp:TextBox ID="txtPhone" runat="server" CssClass="input-block-level" Width="300"></asp:TextBox></td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <p class="text-right">ตำแหน่ง :</p>
                                                </th>
                                                <td>
                                                    <asp:DropDownList ID="ddlPosition" runat="server" Width="300px">
                                                        <asp:ListItem Text="Select Position" Value="0"></asp:ListItem>
                                                        <asp:ListItem Text="Position 1" Value="1"></asp:ListItem>
                                                        <asp:ListItem Text="Position 2" Value="2"></asp:ListItem>
                                                        <asp:ListItem Text="Position 3" Value="3"></asp:ListItem>
                                                        <asp:ListItem Text="Position 4" Value="4"></asp:ListItem>
                                                    </asp:DropDownList>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <p class="text-right">สังกัด :</p>
                                                </th>
                                                <td>
                                                    <asp:DropDownList ID="ddlUnder" runat="server" Width="300px">
                                                        <asp:ListItem Text="Select Under" Value="0"></asp:ListItem>
                                                        <asp:ListItem Text="สังกัด 1" Value="1"></asp:ListItem>
                                                        <asp:ListItem Text="สังกัด 2" Value="2"></asp:ListItem>
                                                        <asp:ListItem Text="สังกัด 3" Value="3"></asp:ListItem>
                                                        <asp:ListItem Text="สังกัด 4" Value="4"></asp:ListItem>
                                                    </asp:DropDownList>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <p class="text-right">หน่วยสายแพทย์ :</p>
                                                </th>
                                                <td>
                                                    <asp:DropDownList ID="ddlDepartment" runat="server" Width="300px">
                                                        <asp:ListItem Text="Select Departmen" Value="0"></asp:ListItem>
                                                        <asp:ListItem Text="Departmen 1" Value="1"></asp:ListItem>
                                                        <asp:ListItem Text="Departmen 2" Value="2"></asp:ListItem>
                                                        <asp:ListItem Text="Departmen 3" Value="3"></asp:ListItem>
                                                        <asp:ListItem Text="Departmen 4" Value="4"></asp:ListItem>
                                                    </asp:DropDownList>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="pull-right">
										        <button type="submit" class="btn btn-green"><i class="icon-ok"></i> บันทึกข้อมูล</button>
										        <button type="button" class="btn btn-lightred"><i class="icon-remove"></i> ยกเลิก</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</asp:Content>







