﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="icon-ok.ascx.cs" Inherits="AMED.icon-ok" %>
<div class="box-title">
                                 <div class="span2">
                                    <h6>รูปแบบที่เลือก</h6>
                                    <select name="select" id="select" class='input-medium'>
											<option value="1">ทั้งหมด</option>
											<option value="2">ดูผลสรุป</option>
											<option value="3">ดูรายละเอียด</option>
									</select>
                                </div>
                                <div class="span2">
                                    <h6>กองทัพภาค</h6>
                                    <select name="select" id="select" class='input-medium'>
											<option value="1">ทั้งหมด</option>
											<option value="2">หน่วยงาน (ส่วนกลาง)</option>
											<option value="3">กองทัพภาคที่ 1</option>
											<option value="4">กองทัพภาคที่ 2</option>
											<option value="5">กองทัพภาคที่ 3</option>
											<option value="6">กองทัพภาคที่ 4</option>
									</select>
                                </div>
                                <div class="span4">
                                     <h6>หน่วยสายแพทย์</h6>
                                    <select name="select" id="select" class='input-lage'>
											<option value="1">ทั้งหมด</option>
											<option value="2">สังกัด-2</option>
											<option value="3">สังกัด-3</option>
											<option value="4">สังกัด-4</option>
											<option value="5">สังกัด-5</option>
											<option value="6">สังกัด-6</option>
											<option value="7">สังกัด-7</option>
											<option value="8">สังกัด-8</option>
											<option value="9">สังกัด-9</option>
									</select>
                                </div>
                                 <div class="span2">
                                     <h6>ประจำปี</h6>
                                    <select name="select" id="select" class='input-medium'>
											<option value="1">ทั้งหมด</option>
											<option value="2">2554</option>
											<option value="3">2555</option>
											<option value="4">2556</option>
											<option value="5">2557</option>
											<option value="6">2558</option>
											<option value="7">2559</option>
											<option value="8">2560</option>
											<option value="9">2561</option>
									</select>
                                     <h6>ประจำเดือน</h6>
                                    <select name="select" id="select" class='input-medium'>
											<option value="1">ทั้งหมด</option>
											<option value="2">มกราคม</option>
											<option value="3">กุมภาพันธ์</option>
											<option value="4">มีนาคม</option>
											<option value="5">เมษายน</option>
											<option value="6">พฤษภาคม</option>
											<option value="7">มิถุนายน</option>
											<option value="8">กรกฎาคม</option>
											<option value="9">สิงหาคม</option>
											<option value="10">กันยายน</option>
											<option value="11">ตุลาคม</option>
											<option value="12">พฤศจิกายน</option>
											<option value="13">ธันวาคม</option>
									</select>
                                </div>
                               <div class="span2">
                                     <h6>ถึง</h6>
                                    <select name="select" id="select" class='input-medium'>
											<option value="1">ทั้งหมด</option>
											<option value="2">2554</option>
											<option value="3">2555</option>
											<option value="4">2556</option>
											<option value="5">2557</option>
											<option value="6">2558</option>
											<option value="7">2559</option>
											<option value="8">2560</option>
											<option value="9">2561</option>
									</select>
                                    <h6>ถึง</h6>
                                    <select name="select" id="select" class='input-medium'>
											<option value="1">ทั้งหมด</option>
											<option value="2">มกราคม</option>
											<option value="3">กุมภาพันธ์</option>
											<option value="4">มีนาคม</option>
											<option value="5">เมษายน</option>
											<option value="6">พฤษภาคม</option>
											<option value="7">มิถุนายน</option>
											<option value="8">กรกฎาคม</option>
											<option value="9">สิงหาคม</option>
											<option value="10">กันยายน</option>
											<option value="11">ตุลาคม</option>
											<option value="12">พฤศจิกายน</option>
											<option value="13">ธันวาคม</option>
									</select>
                                </div>
                                 <div class="span2">
                                 </div>
                               
                               <div class="clearfix"></div>
							</div>